.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffc0cba6;
  overflow-y: scroll;
  padding: 30px;
}
.modal {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  // //   transform: translate(-50%, -50%);

  background: #e17992;
  padding: 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__text {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  padding-top: 50px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;
  margin-bottom: 30px;
  color: #ffffff;
}
.modal__button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  border: none;

  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #d41443;
}
